<!DOCTYPE html>
<html>
  <head>
    <title>RPS RCAV</title>
  </head>
  
  <body>

   <h1>Welcome to rock paper scissors!</h1>

    <h2>Rock beats Scissors, Paper beats Rock, Scissors beats Paper.</h2>

    <h2> Point your browser at /rock, /paper, or /scissors to play the game.</h2>

   <div>
    <a href="/rock">
      Play Rock
    </a>
  </div>

  <div>
    <a href="/paper">
      Play Paper
    </a>
  </div>

  <div>
    <a href="/scissors">
      Play Scissors
    </a>


  </body>
</html>